body {
    margin: 0;
    padding: 0;
  }
  .app {
    margin: 0;
    padding: 0;
  }
  .header {
    width: 96%;
    margin: 0 auto;
  }
  .header img {
    max-width: 100%;
    display: block;
    height: auto;
    margin-top:10px;
  }
  .main-container {
    display: flex;
    width: 92%;
    padding: 4%;
  }
  .welcome-container {
    width: 40%;
    padding-right: 5%;
  }
  .welcome-container h3 {
    font-size: 26px;
  }
  .welcome-container p {
    font-size:20x;
    line-height:30px;
  }
  .calculator-container {
    width: 30%;
    min-height: 450px;
    padding: 0 3%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 2%;
  }
  .calculator-container h4 {
    font-size: 22px;
  }
  .calculator-container p {
    font-size: 18x;
    line-height: 24px;
  }
  .radio {
    margin-bottom: 15px;
  }
  .radio input {
    margin-right: 20px;
    width: 22px;
    height: 22px;
  }
  .calculator-container .desc {
    min-height: 150px;
  }
  .calculator-container .input-area {
    min-height: 200px;
  }
  .calculator-container .input-area label {
    display: inline-flex;
    align-items: center;
  }
  .calculator-container input[type="number"] {
    display: inline-block;
    width: 100px;
    height: 20px;
    padding: 6px 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    margin-left: 30px;
  }
  .calculator-container .shape-input-area {
    margin-top: 0px;
  }
  .calculator-container .shape-input-area label {
    display: inline-block;
    min-width: 70px;
  }
  .calculator-container button {
    padding: 8px 10px;
    font-weight: bold;
  }
  .calculator-container .btn-cancel {
    background: none;
    border: none;
    font-weight: 600;
  }
  .ads-area {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ccc;
    color: #222;
    width: 18%;
    padding: 0.25%;
    margin-left: 1.5%;
    text-align: center;
  }
  .ads-area span{
    font-size: 24px;
    line-height: 30px;
    font-weight:600;
  }
  .area-value {
    font-size:24px;
    font-weight: 600;
    padding: 30px 5px;
    min-height: 140px;
  }
  .area-calc {
    font-size:26px;

  }
  .error-msg {
    color: red;
  }
  .hidden {
    display: none;
  }
  @media screen and (max-width: 992px) {
    .main-container {
      width: 92%;
      padding: 2%;
      margin: 2%;
      flex-direction: column;
    }
    .welcome-container {
      width: 96%;
      padding: 2%;
    }
    .calculator-container {
      width: 90%;
      min-height: 350px;
      padding: 5%;
      margin-bottom: 30px;
    }
    .ads-area {
      width: 90%;
      padding: 5%;
      margin-left: 0;
      height: 240px;
    }
  }
  